.issue-page {
    height: calc(100vh - 60px);
    margin: 0 auto;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .issue-header {
    display: flex;
    position: fixed;
    align-items: center;
    margin: 20px;
  }

  .issue-title {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: left !important;
  }
  .serial-num {
    text-align:left;
    width: 10%;
  }
  .title {
    text-align:left;
    width: 50% !important;
  }
  .meta {
    width:20%
  }
  .date {
    width: 30%; 
  }
  .issue-body {
    width: 100% !important;
}
  .issue-num {
    width:10%;
    text-align: left;
   }
  .issue-description {
    width: 50% !important;
    text-overflow:ellipsis;
     white-space:nowrap;
    overflow: hidden;
    text-align: left;
    margin: 0%;
    text-decoration: none;
  }
 
  .issue-meta {
    width: 20%;
    text-align: left;
  }
  .issue-date {
 width: 30%;
 text-align: left;
  }
  .pagination {
    display: inline-block;
  }
  .paginationRow {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: center;
  }
  .pagination span {
    color: black;
    float: left;
    padding: 6px 6px;
    text-decoration: none;
    cursor: pointer;
  }
  .pagination span span.active {
    background-color: #637878;
    border-radius: 10px;
  }
  .pagination span span:hover:not(.active) {background-color: #ddd;  border-radius: 12px;}
  .issueDetailsPage {
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
